
{% extends "sidemenu/base_sidemenu.html" %}

   {% block content %}

    <div class="container mt-5">
{% extends '../base.html' %}
{% block title %}Client Details{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Client Details</h1>
        <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="col">No</th>
                    <th scope="col" class="col">Full Name</th>
                    <th scope="col" class="col">Slug</th>
                    <th scope="col" class="col">Warehouse Type</th>
                    <th scope="col" class="col">GitHub Repo URL</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr data-client-id="{{ client.id }}" onclick="redirectToClient('{{ client.id }}')">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ client.full_name }}</td>
                        <td>{{ client.slug }}</td>
                        <td>{{ client.warehouse_type }}</td>
                        <td>
                            {% if client.github_repo_url %}
                                <a href="{{ client.github_repo_url }}" target="_blank">{{ client.github_repo_url }}</a>
                            {% else %}
                                NO
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

   
    <script>
        function redirectToClient(clientId) {
            // Redirect to a dynamic route based on the client's id
            window.location.href = '/client/' + clientId;
        }
    </script>
{% endblock content %}

{% endblock %}
