
{% extends '../base.html' %}

  {% load static%}
  {% block title %}Dalgo-Infrastructure{% endblock %}
  {% block content%}
  <h1 class="head-title">Dalgo Infrastructure Overview</h1>
  {% if data != "error"%}
    <div class="container-fluid" style="margin: 0; padding:0;">
      
      <div class="container">
        <br>
        <div class="row">
          <div class="col-md-6 my-2">
            <div class="card border border-5">
              <div class="card-body">
                <div class="title-row">
                  <h4 class="card-title">Airbyte</h4>
                  <img class="logo airbyte-logo" src="{% static '..\static\airbyte-logo.png' %}" alt="Logo">
                </div>
                <p>Current version: {{data.airbyte_version}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 my-2">
            <div class="card border border-5">
              <div class="card-body">
                <div class="title-row">
                  <h4 class="card-title">Prefect</h4>
                  <img class="logo prefect-logo" src="{% static '..\static\prefect-logo.png' %}" alt="Logo">
                </div>
                <p>Current version: {{data.perfect_version}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card border border-5">
              <div class="card-body">
                <div class="title-row">
                  <h4 class="card-title">DBT</h4>
                  <img class="logo dbt-logo" src="{% static '..\static\dbt-logo.png' %}" alt="Logo">
                </div>
                <p>Current version: {{data.dbt_version}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card border border-5">
              <div class="card-body">
                <div class="title-row">
                  <h5 class="card-title">Machine Metrics</h5>
                  <img class="logo metric-logo" src="{% static '..\static\metric-logo.png' %}" alt="Logo">
                </div>
                <p class="card-text">CPU usage: {{data.cpu_usage_percent}}%</p>
                <p class="card-text">Available RAM: {{data.available_ram_gb}}GB</p>
                <p class="card-text">Available Disk Space: {{ data.available_disk_space_gb }}GB</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container text-center mt-5">
      <h4>data receiving error </h4>
    </div>
  {% endif %}
  {% endblock %}
  
